
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(230, 13%, 10%);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.Wrapper {
  --br: 10px;
  background-color: hsl(230, 13%, 18%);

  width: 28rem;
  min-height: 28rem;

  border-radius: var(--br);
  padding: 2rem;

  display: flex;
  flex-direction: column;

  gap: 3rem;

}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formRow label {
  font-size: 1.5rem;
}

#inputItems, .formRow button {
  outline: none;
  border: none;

  border-radius: var(--br);

  font-size: 1.25rem;
  padding: 3px 10px;
}

.formRow button {
  cursor: pointer;
  background-color: hsl(230, 15%, 40%);
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
}

.todoList {
  list-style-type: none;

  display: grid;
  gap: 0.5rem;
  font-size: 1.3rem;

  margin-top: 2rem;
  margin-left: 1.25rem;
}

.todoList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList li input {
  margin-right: 3rem;
}

.todoList li a {
  color: tomato;
  border: 1px solid;
  padding: 2px 8px;
  border-radius: 50%;
  font-weight: 900;
  cursor: pointer;
}



